.landing-jumbo {
  min-height: 100%;
  min-height: calc(100vh - 184px);

  font-family: 'Playfair Display', serif;
}

.jumbo {
  min-height: 100%;
  min-height: calc(100vh - 152px);

  font-family: 'Playfair Display', serif;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.vl {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: calc(100vh - 100px);
}

.carousel-item, .carousel-item-active {
  height: 324px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1000px) {
    .display-3 {
        font-size: 3rem;
    }
}

@media (max-width: 587px) {
    .display-3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 575px) {
    .landing-jumbo {
        min-height: calc(100vh - 119px);
    }
    .jumbo {
        min-height: calc(100vh - 88px);
    }
}
