html {
    width: 100vw;
    overflow-x: hidden;
}

.landing-jumbo {
    min-height: 100%;
    min-height: calc(100vh - 184px);
}

.jumbo {
    min-height: 100%;
    min-height: calc(100vh - 152px);
}

.foldonly-jumbo {
    min-height: 100%;
    min-height: calc(100vh - 208px);
}

.display-3 {
    font-family: 'Playfair Display', serif;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.vl {
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 200px;
    position: absolute;
    top: 0;
    left: 50%;

    margin-top: calc(100vh - 100px);
}

.carousel-item, .carousel-item-active {
    height: 324px;
    margin-top: auto;
    margin-bottom: auto;
}

.split-color {
  background: linear-gradient(
    to left,
    #e9ecef 0%,
    #e9ecef 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}

@media (max-width: 991px) {
    .display-3 {
        font-size: 3rem;
    }
    .vl {
        height: 100px;
        margin-top: calc(100vh - 50px);
    }
    .split-color {
        background: #e9ecef;
    }
    .foldonly-jumbo {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

@media (max-width: 587px) {
    .display-3 {
        font-size: 2.5rem;
    }

}

@media (max-width: 575px) {
    .landing-jumbo {
        min-height: calc(100vh - 119px);
    }
    .jumbo {
        min-height: calc(100vh - 88px);
    }
}
